footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);
    height: 50px;
    text-align: center;
}

.copyright {
    text-decoration: underline;
}